<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.InventoryRetailer">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.PDFActivity"></activity>
        <activity android:name=".Activity.StocksActivity" />
        <activity android:name=".Activity.OrderCartActivity" />
        <activity android:name=".Activity.OrderHistoryActivity" />
        <activity android:name=".Activity.OrderProductActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SaleOrderHistoryActivity" />
        <activity android:name=".Activity.HomePageActivity" />
        <activity android:name=".Activity.SaleCartActivity" />
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>